{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body>
    <div id="container">
        <header>
            <span id='name-helper'>{{ site.author }}</span>
            <canvas   id="myCanvas" width="700" ></canvas>
            {% if site.subtitle %}
                <br><br>
                <h1>{{ site.subtitle }}</h1>
                <br>
            {% endif %}    
        </header>
        
        <div id="main" role="main">
            <nav role="navigation" >{% include navigation.html %}</nav>
            {{ content | expand_urls: root_url }}
        </div>
        {% include footer.html %}
    </div> <!--! end of #container -->
    {% include bottom_scripts.html %}
</body>
